<div [formGroup]="form()!">
  <div class="flex justify-between items-center mb-1">
    <label for="{{ field().key }}" class="block text-sm/normal font-semibold text-gray-900">{{
      field().label
    }}</label>
    <ng-content select="[header-left]"></ng-content>
  </div>
  <mat-form-field appearance="outline" class="w-full transform scale-100 origin-top-left">
    <input
      matInput
      [type]="field().type"
      [formControlName]="field().key"
      [placeholder]="field().placeholder ?? ''"
    />
    <mat-hint>{{ field().hint ?? '' }}</mat-hint>
  </mat-form-field>
</div>
