<div class="grid grid-cols-12 gap-5 p-5">
  <div class="col-span-2 bg-white p-5 rounded-lg">
    <app-field-types-list></app-field-types-list>
  </div>
  <div class="col-span-7 p-5 rounded-lg">
    <h3 class="text-lg font-semibold mb-4">Designer</h3>
    <form
      id="formList"
      cdkDropList
      [cdkDropListConnectedTo]="['fieldTypesList']"
      [cdkDropListData]="formBuilderService.config"
      (cdkDropListDropped)="addField($event)"
      [formGroup]="form"
      (submit)="submitForm()"
    >
      @for (field of formBuilderService.config; track $index) {
        <!-- @if (field.type == inputTypes.ROW) {
          <div class="flex bg-white p-4 rounded mb-5">
            @for (item of field.fields; track $index) {
              @if (textLikeInputTypes.includes(item.type)) {
                <app-text-input [field]="item" [form]="form">
                  <button
                    header-left
                    (click)="removeField(item.key)"
                    matIconButton
                    aria-label="Delete Field"
                  >
                    <mat-icon fontIcon="close"></mat-icon>
                  </button>
                </app-text-input>
              } @else if (inputTypes.SELECT == item.type) {
                <app-select-input [field]="item" [form]="form"> </app-select-input>
              } @else if (dateLikeInputTypes.includes(item.type)) {
                <app-date-input [field]="item" [form]="form"></app-date-input>
              } @else if (inputTypes.CHECKBOX == item.type) {
                <app-checkbox-input [field]="item" [form]="form"></app-checkbox-input>
              } @else if (inputTypes.RADIO == item.type) {
                <app-radio-input [field]="item" [form]="form"></app-radio-input>
              } @else if (inputTypes.HEADER == item.type) {
                <h3 class="text-lg font-bold mb-4">{{ item.label }}</h3>
              } @else if (inputTypes.PARAGRAPH == item.type) {
                <p class="mb-4">{{ item.label }}</p>
              } @else {
                <div class="p-4 bg-red-100 text-red-700 rounded">
                  Unsupported field type: {{ item.type }}
                </div>
              }
            }
          </div>
        } -->

        @if (isInputDefinition(field)) {
          @if (textLikeInputTypes.includes(field.type)) {
            <app-text-input [field]="field" [form]="form">
              <button
                header-left
                (click)="removeField(field.key)"
                matIconButton
                aria-label="Delete Field"
              >
                <mat-icon fontIcon="close"></mat-icon>
              </button>
            </app-text-input>
          }
        } @else if (isRowContainer(field)) {
          <div class="grid bg-white p-4 rounded mb-5 gap-4">
            @for (item of field.fields; track $index) {
              @if (isInputDefinition(item)) {
                @if (textLikeInputTypes.includes(item.type)) {
                  <app-text-input [field]="item" [form]="form">
                    <button
                      header-left
                      (click)="removeField(item.key)"
                      matIconButton
                      aria-label="Delete Field"
                    >
                      <mat-icon fontIcon="close"></mat-icon>
                    </button>
                  </app-text-input>
                } @else if (inputTypes.SELECT == item.type) {
                  <app-select-input [field]="item" [form]="form"> </app-select-input>
                } @else if (dateLikeInputTypes.includes(item.type)) {
                  <app-date-input [field]="item" [form]="form"></app-date-input>
                } @else if (inputTypes.CHECKBOX == item.type) {
                  <app-checkbox-input [field]="item" [form]="form"></app-checkbox-input>
                } @else if (inputTypes.RADIO == item.type) {
                  <app-radio-input [field]="item" [form]="form"></app-radio-input>
                } @else if (inputTypes.HEADER == item.type) {
                  <h3 class="text-lg font-bold mb-4">{{ item.label }}</h3>
                } @else if (inputTypes.PARAGRAPH == item.type) {
                  <p class="mb-4">{{ item.label }}</p>
                } @else {
                  <div class="p-4 bg-red-100 text-red-700 rounded">
                    Unsupported field type: {{ item.type }}
                  </div>
                }
              }
            }
          </div>
        }

        <!-- end -->
      }

      <!-- Drop Zone Card -->
      <div
        id="dropZone"
        class="drop-zone bg-white rounded-xl shadow-lg p-4 border-2 border-dashed border-gray-300 transition-all duration-200 hover:border-gray-400"
      >
        <div class="text-center">
          <mat-icon>add_circle_outline</mat-icon>
          <p class="text-sm text-gray-500">Drag and drop items to this zone</p>
        </div>
      </div>
      <!-- End Drop Zone Card -->
    </form>
  </div>
  <div class="col-span-3 bg-white p-5 rounded-lg">
    <app-field-properties></app-field-properties>
  </div>
</div>
